{% extends 'SkeletonView.twig' %}

{% block content %}
    <h1>Modifier la prestation {{ prestation.libelle }} </h1>
    <form action="{{ edit.url }}" method="post">
        <label for="libelle">Libellé</label>
        <input type="text" name="libelle" id="libelle" value="{{ prestation.libelle }}">
        <label for="description">Description</label>
        <textarea name="description" id="description">
            {{ prestation.description }}
        </textarea>
        <label for="tarif">Tarif</label>
        <input type="number" name="tarif" id="tarif" value="{{ prestation.tarif }}">
        <label for="cat_id">Catégorie</label>
        <select name="cat_id" id="cat_id">
            {% for categorie in categories %}
                <option value="{{ categorie.id }}" {% if categorie.id == prestation.cat_id %}selected{% endif %}>{{ categorie.libelle }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="csrf" value="{{ csrf }}">
        <button type="submit">Modifier</button>
    </form>
{% endblock %}