{% extends 'SkeletonView.twig' %}

{% block content %}
    {% for prestation in prestations %}
        <h1>Prestation : {{ prestation.libelle }}</h1>
        <p><a href="{{ edit.url }}">Modifier</a></p>
        <p>{{ prestation.description }}</p>
        <ul>
            <li>Unite : {{ prestation.unite }}</li>
            <li>Tarif : {{ prestation.tarif }}€</li>
        </ul>
        <h2>Catégorie : <a href="{{ categorie.url }}">{{ categorie.libelle }}</a></h2>
        <img src="{{ globals.img_dir }}/{{ prestation.img }}">
    {% endfor %}
{% endblock %}